<form action="#/login" method="post" class="container">
  <div class="form-group">
    <label for="name">Username</label>
    <input id="name" type="text" class="form-control" aria-describedby="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="pwd">Password</label>
    <input id="pwd" type="password" class="form-control" placeholder="Password">
  </div>
  <input id="btnlogin" type="submit" class="btn btn-primary">Login</input>
</form>